<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOOSULSA"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustNothing"
        tools:targetApi="31"
        tools:ignore="CoarseFineLocation">
        <activity
            android:name=".CheckPopupActivity"
            android:theme="@style/TransparentTheme" />
        <!--
         키보드 밀림 해결 application 에 아래 코드 추가
             android:windowSoftInputMode="adjustNothing"
             <activity android:name=".원하는페이지" android:windowSoftInputMode="adjustNothing"></activity>
        -->
        <activity
            android:name=".QuizPopupActivity"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".QuizClosePopup"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".ProductInfoActivity"
            android:exported="false" />
        <activity
            android:name=".point.RePointHistroyActivity"
            android:exported="false" />
        <activity
            android:name=".purchase_list.PurchaseListActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".PersonRankActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CheckActivity"
            android:exported="false" />
        <activity
            android:name=".ModelCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoSplashActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SearchDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".TownRankActivity"
            android:exported="false" />
        <activity
            android:name=".PointMarketActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    </application>

</manifest>